<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Gmail App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body, html {
            height: 100%;
            background-image: url("{% static 'images/backgroundimage2.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

        }
    </style>
</head>
<body>
    <div class=" container-fluid d-flex  align-items-center vh-100 pl-4">
        <div class="sec" style="padding-left: 50px;text-align: left;margin-top: -200px;">
            <h1 style="padding-left: 20px;padding-top: 5px;color:rgb(54, 154, 209)">Welcome to My Gmail App</h1>
            <h5 style="padding-left: 90px;padding-top: 25px;color:#5ba0c4">A simple web-based email application</h5>
            <div class="mt-4" style="padding-left: 160px;padding-top: 40px;">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg mr-3">Login</a>
                <a href="{% url 'register' %}" class="btn btn-secondary btn-lg">Register</a>
            </div>
        </div>
    </div>
</body>
</html>
