<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ email.subject }}</title>
</head>
<body>
    <h1>{{ email.subject }}</h1>
    <a href="{% url 'read_email' email.id %}">{{ email.subject }}</a>


    <p><strong>From:</strong> {{ email.sender.username }} ({{ email.sender.email }})</p>

    <p><strong>To:</strong> 
        {% for recipient in email.recipients.all %}
            {{ recipient.email }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>

    <p><strong>Date:</strong> {{ email.timestamp }}</p>

    <p><strong>Body:</strong></p>
    <div>
        {{ email.body|linebreaks }}  <!-- This ensures line breaks in the email body are rendered properly -->
    </div>

    <h3>Attachments:</h3>
<ul>
    {% for attachment in attachments %}
    <li><a href="{{ attachment.file.url }}">{{ attachment.file.name }}</a></li>
    {% endfor %}
</ul>

    <a href="{% url 'email_list' %}">Back to Inbox</a>
</body>
</html>
